<ion-view class="background">
  <ion-nav-title class="title font-color">Login</ion-nav-title>
  <ion-content class="padding">
    <img class="logo" width="250" height="250" src="img/logo.png"></img>
    <div class="login">
      <label class=" item-input item-stacked-label">
        <!-- <span class="input-label">Pseudo</span> -->
        <input type="text" placeholder="Pseudo">
      </label>

      <label class=" item-input item-stacked-label">
        <!-- <span class="input-label">Password</span> -->
        <input type="password" placeholder="Password">
      </label>
    </div> 
  </ion-content>
</ion-view>
