<ion-view view-title="Amis">
  <ion-content>
  
    <ion-list>
    
    <button ng-click='vibrate()'>Vibration</button>
    
    <ng-map center="{{maPosition}}" zoom="12">
      <marker position={{maPosition}}></marker>
        <marker title='{{pos.title}}' ng-repeat="pos in positions" position="{{pos.city}}"></marker>

    </ng-map>

      <ion-item class="item-remove-animate item-avatar item-icon-right"  ng-repeat="user in users" type="item-text-wrap" href="#/tab/friends/{{user.id}}">
        <img ng-src="{{user.photo}}">
        <h2>{{user.firstname}} {{user.lastname}}</h2>
        <h3>{{user.pseudo}}</h3>
        <p> Se trouve a {{pos.distance}} km</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

      
      </ion-item>
       
    </ion-list>
  </ion-content>
</ion-view>
