@font-face {
    font-family: "MonoglycerideBold";
    src: url('../fonts/MonoglycerideBold.ttf');
}
.font-color{
	color:#667c94;
	font-color:#667c94;
}

.title{
	font-family: 'Handlee', cursive;
}

.background{
	background-image: url('../img/fond.png');
	background-size: 1950px 1200px;
	background-repeat: no-repeat;
	background-position: top;
}

.login{
	text-align: center;
	margin-top: 20%;
	margin-left: 15%;
	width: 65%;

}
.login input{
	padding: 2px 2px 2px 2px;
	height: 40px;
	text-align: center;
	border-radius: 8px 8px 8px;
	background-color: #f1c5c2;
	font-size: 1.5em;
	font-family: 'Handlee', cursive;	
}

.logo{
	/*margin-top: 10px;*/
	margin-left: 18%; 
}

.scroll {
    height: 100%;
}
 
#map {
    width: 100%;
    height: 50%;
}
/* Extra Small Devices, Phones */
    @media only screen and (max-width : 480px) {
    	.background{
    		background-size: 500px 800px;
    	}
    }
